.home-page {
  padding-top: 0;
}

/*Hero Section */
.hero-section {
  padding: 40px 0;
  background-color: var(--light-bg);
}

/* Category Section */
.categories-section {
  padding: 60px 0;
}

/* Featured Section */
.featured-section {
  padding: 60px 0;
  background-color: var(--light-bg);
}
